<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kabunx.erp.mapper.AdminMapper">
  <resultMap id="AdminWithUserResultMap" type="com.kabunx.erp.vo.AdminVO" autoMapping="true">
    <id property="userId" column="user_id"/>
    <association property="user" javaType="com.kabunx.erp.vo.UserVO" autoMapping="true">
      <id property="id" column="id"/>
    </association>
  </resultMap>
  <select id="findByUserId" parameterType="long" resultMap="AdminWithUserResultMap">
    select user_id, access_token, active_time, id, account, name, sex
    from user_admin
           inner join user
                      on user_admin.user_id = user.id
    where user_admin.user_id = #{userId}
      and user_admin.deleted_at is null
      and user.deleted_at is null
  </select>
  <select id="selectWithUser" resultMap="AdminWithUserResultMap">
    select user_id, access_token, active_time, id, account, name, sex
    from user_admin
           inner join user
                      on user_admin.user_id = user.id
    where user_admin.deleted_at is null
      and user.deleted_at is null
  </select>

</mapper>