<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kabunx.erp.mapper.MemberMapper">
    <select id="selectPageToMemberVO"
            resultType="com.kabunx.erp.vo.MemberVO">
        select *
        from gb_user_mpc member
                 inner join sys_user_basic user
        on member.user_id = user.id
    </select>
</mapper>