# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html
[mysql]

[mysqld]
# 表名在硬盘上以小写保存，名称比较对大小写不敏感
lower_case_table_names=1
# 取消严格模式
sql-mode="NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES"
# 字符集
character-set-server=UTF8MB4
# 密码策略
default-authentication-plugin=mysql_native_password